<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Creator</title>
    <link rel="stylesheet" href="pure.min.css">
    <link rel="stylesheet" href="pure-responsive.min.css">
    <style scoped>
        * { box-sizing: border-box; }

        input,
        select,
        textarea {
            width: 100%;
        }

        /* Pure Overrides */
        .pure-g {
            max-width: 100vw;
            overflow: auto;
        }

        .l-box {
            padding: 1em;
        }

        .button-xsmall {
            font-size: 70%;
        }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }

        .custom-form .pure-control-group {
            margin-bottom: 1em;
        }

        .custom-form label {
            color: #333;
            display: block;
            margin: 0 0 0.5em;
        }

        .form-summary .border-box {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="pure-g">
            <div class="pure-u-1 l-box">
                <h1>
                    {{ title }}
                </h1>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 l-box">
                <form @submit="add" ref="form" class="pure-form custom-form">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="name">Name</label>
                            <input
                                autofocus
                                type="text"
                                name="name"
                                id="name"
                                @input="updateForm"
                            >
                        </div>
                        <div class="pure-control-group">
                            <label for="parentId">Parent Category</label>
                            <select name="parentId" id="parentId" v-model="form.parentId">
                                <option v-for="category in categories" :value="category._id">{{ category.name }}</option>
                            </select>
                        </div>
                        <div class="pure-control-group">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" cols="30" rows="4" @input="updateForm"></textarea>
                        </div>
                        <div class="pure-controls">
                            <button class="pure-button pure-button-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 l-box form-summary">
                <div class="border-box">
                    <div class="l-box">
                        <h3>Summary</h3>
                        <ul>
                            <li v-for="(v, k) in form" v-if="k !== '_id'">
                                {{ k }}: {{ v }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 l-box">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th v-for="(v, k) in model">{{ k }}</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(category, i) in categories"
                            :key="category._id"
                            :value="category"
                            :index="i"
                            v-on:remove:category="removeCategory"
                            is="category"
                        >
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="vue.js"></script>
    <script>
        // Tools
        function ID() {
            return '_' + Math.random().toString(36).substr(2, 9);
        };

        const _prefix = 'cattor_';
        const ls = {
            set: function(key, data){
                localStorage.setItem(_prefix+key, JSON.stringify(data));
            },
            get: function(key){
                return JSON.parse(localStorage.getItem(_prefix+key));
            }
        }
    </script>
    <script>

        /*
            TODO:
            - Install proper vue dev environment
            - Use tailwind.css
            - Add export to json
            - Add import json
            - Improve UI
        */

        const _model = {
            _id: null,
            name: null,
            parentId: null,
            description: ''
        }

        // Category
        Vue.component('category', {
            props: ['value', 'index'],
            methods: {
                removeCategory: function(   ){
                    this.$emit('remove:category', this.index)
                }
            },
            render: function(createElement) {
                return createElement(
                    'tr',
                    [
                        createElement(
                            'td',
                            this.value._id,
                        ),
                        createElement(
                            'td',
                            this.value.name,
                        ),
                        createElement(
                            'td',
                            this.value.parentId === null ? '-' : this.value.parentId,
                        ),
                        createElement(
                            'td',
                            this.value.description,
                        ),
                        createElement(
                            'td',
                            [createElement(
                                'button',
                                {
                                    domProps: {
                                        innerHTML: 'x'
                                    },
                                    on: {
                                        click: this.removeCategory
                                    },
                                    class: {
                                        'pure-button': true,
                                        'button-xsmall': true,
                                    }
                                }
                            )]
                        )
                    ]
                )
            }
        })

        var app = new Vue({
            el: '#app',
            data: {
                title: 'Category Creator',
                localStorageKey: 'categories',
                model: _model,
                form: JSON.parse(JSON.stringify(_model)),
                categories: ls.get('categories') || []
            },
            methods: {
                updateForm: function (e) {
                    this.form = {
                        ...this.form,
                        [e.target.name]: e.target.value
                    }
                },
                add: function(e) {
                    e.preventDefault()

                    if(this.isValid()){
                        this.form._id = ID();
                        this.categories.push(this.form)

                        this.save()
                        this.reset()
                    }
                },
                save: function() {
                    ls.set(this.localStorageKey, this.categories)
                },
                isValid: function(e) {
                    return this.form.name !== null && this.form.name !== ''
                },
                removeCategory: function(index) {
                    this.categories.splice(index, 1)
                    this.save()
                },
                reset: function() {
                    this.form = JSON.parse(JSON.stringify(_model))
                    this.$refs.form.reset()
                }
            }
        })
    </script>
</body>
</html>